<html>
    <body>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name: </label>
            <input type="text" id="name" name="name"><br><br>
            <label for="age">Age: </label>
            <input type="number" id="age" name="age"><br><br>
            <label for="rollno">Roll Number: </label>
            <input type="text" id="rollno" name="rollno"><br><br>
            <input type="submit" value="create Student" />
        </form>
    </body> 
</html>